/* define colors */
:root{
    --black: #0D1B2A;
    --gray: #1B263B;
    --blue: #415A77;
    --cyan: #778DA9;
    --white: #E0E1DD;
}

/* main */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    margin-bottom: 10px;
    transition: all 1s ease;
}

/* mode button */
.mode{
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background: var(--black);
    color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s linear;
    user-select: none;
    z-index: 1001;
}

.mode span{
    font-size: 25px;
}

/* text */
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.text h1{
    font-size: 30px;
    color: var(--black);
    font-family: cursive;
    font-weight: bold;
    transition: all 1s ease;
    user-select: none;
    pointer-events: none;
}

.text p{
    font-size: 20px;
    color: var(--black);
    font-family: cursive;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 1s ease;
    user-select: none;
    pointer-events: none;
}

/* game board */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 10px solid var(--black);
    border-radius: 25px;
    transition: all 1s ease;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    transition: all 1s ease;
}

.board .cell{
    width: 150px;
    height: 150px;
    background: var(--black);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
    color: var(--white);
    transition: all 1s ease;
    user-select: none;
}

.container .reset{
    padding: 10px 20px;
    border: none;
    outline: none;
    background: var(--black);
    color: var(--white);
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: all 1s ease;
    user-select: none;
}

/* points */
.points{
    position: fixed;
    bottom: 10px;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    background: var(--white);
    border-radius: 25px;
    box-shadow: inset 3px -3px 10px  5px var(--black);
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
}

.points#winX{
    left: 10px;
    color: #4d79ff;
}

.points#winO{
    right: 10px;
    color: #ff4d6d;
}

/* display */
.display{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 1s ease;
}

.display.hide{
    opacity: 0;
    pointer-events: none;
    z-index: 0;
}

.display .content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 1;
    pointer-events: all;
    transition: all 0.5s ease;
}

.display .content.hide{
    opacity: 0;
    pointer-events: none;
}

.display.hide .content{
    pointer-events: none;
}

.display .content h1{
    color: var(--black);
    font-size: 50px;
    font-family: cursive;
    font-style: oblique;
    transition: all 1s ease;
    user-select: none;
    pointer-events: none;
}

.display .content .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.display .content .btns button{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: var(--black);
    color: var(--white);
    font-size: 20px;
    font-family: cursive;
    text-transform: capitalize;
    transition: all 1s ease, scale 0.5s linear;
    cursor: pointer;
    user-select: none;
}

.display .content .btns button:hover{
    scale: 1.05;
}

.display .content .btns button:active{
    scale: 0.95;
}

/*! dark mode !*/
body.dark{
    background: var(--black);
}

body.dark .mode{
    background: var(--white);
    color: var(--black);
}

body.dark .container{
    border-color: var(--white);
}

body.dark .board .cell{
    background: var(--white);
    color: var(--black);
}

body.dark .text h1, body.dark .text p{
    color: var(--white);
}

body.dark .container .reset{
    background: var(--white);
    color: var(--black);
}

body.dark .points{
    background: var(--black);
    box-shadow: inset 3px -3px 10px 5px var(--white);
}

body.dark .display{
    background: var(--black);
}

body.dark .display .content h1{
    color: var(--white)
}

body.dark .display .content .btns button{
    background: var(--white);
    color: var(--black);
}