/* define colors */
:root{
    --black: #0D1B2A;
    --gray: #1B263B;
    --blue: #415A77;
    --cyan: #778DA9;
    --white: #E0E1DD;
}

/* main */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 1s ease;
}

/* mode button */
.mode{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    background: var(--black);
    color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s linear;
}

.mode span{
    font-size: 25px;
}

/* game board */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 10px solid var(--black);
    border-radius: 25px;
    transition: all 1s ease;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;

}

.board .cell{
    width: 150px;
    height: 150px;
    background: var(--black);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
}

/*! dark mode !*/
body.dark{
    background: var(--black);
}

body.dark .mode{
    background: var(--white);
    color: var(--black);
}

body.dark .container{
    border-color: var(--white);
}

body.dark .board .cell{
    background: var(--white);
}