/* define colors */
:root{
    --black: #0D1B2A;
    --gray: #1B263B;
    --blue: #415A77;
    --cyan: #778DA9;
    --white: #E0E1DD;
}

/* main */
body{
    width: 100%;
    height: 100vh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}